* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header {
  background: linear-gradient(
      180deg,
      rgba(112, 93, 80, 0.8) 0,
      rgba(112, 93, 80, 0.8) 90%
    ),
    url(/images/masthead.jpg);
  height: 550px;
  background-size: 100% 100%;
}

.mainvar {
  display: flex;
  justify-content: center;
}

.inmainvar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}

.inmainvar1 {
  font-size: 30px;
  font-weight: 800;
  color: rgb(192, 187, 187);
}

.inmainvar2 {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.inmainvar2 div {
  margin-left: 35px;
  font-size: 17px;
  font-weight: 800;
  color: rgb(192, 187, 187);
}
